<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- <remove name="Maintenance Mode" /> -->
                <remove name="Imported Rule 5" />
                <remove name="Imported Rule 4" />
                <remove name="Imported Rule 3" />
                <remove name="Imported Rule 2" />
                <remove name="Imported Rule 1" />
                <rule name="Imported Rule 1">
                    <match url="^([-a-zA-Z0-9_]+)/([-a-zA-Z0-9_]+)/(.+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/backend/{R:1}/{R:2}.php?x={R:3}" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^([-a-zA-Z0-9_]+)/([-a-zA-Z0-9_]+)/$" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/backend/{R:1}/{R:2}.php" logRewrittenUrl="true" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^([-a-zA-Z0-9_]+)/([-a-zA-Z0-9_!]+)$" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/backend/{R:1}.php?x={R:2}" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^([-a-zA-Z0-9_]+)/$" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/backend/{R:1}.php" logRewrittenUrl="true" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^([-a-zA-Z0-9_]+)$" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/backend/{R:1}.php" logRewrittenUrl="true" />
                </rule>
				<!--
                <rule name="Maintenance Mode" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="\.(css|gif|jpg|png)$" ignoreCase="false" negate="true" />
                        <add input="{DOCUMENT_ROOT}/maintenance.trigger" matchType="IsFile" ignoreCase="false" />
                        <add input="{SCRIPT_FILENAME}" pattern="maintenance.html" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:0}" redirectType="Temporary" />
                </rule>
				-->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

